<!DOCTYPE html>
<html>
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.common.js" type="javascript/text"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
	@RenderBody()
</body>
</html>