<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.common.js" type="javascript/text"></script>
<link src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
<link src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>


<script type="text/javascript">
    angular.module('uploadDemo', ['angularFileUpload'])
        .controller('uploadCtrl', ['$scope', '$upload', function ($scope, $upload) {

            $scope.upload = function (file) {
                if (file) {
                    $upload.upload({
                        url: 'api/upload',
                        fields: { 'username': $scope.username },
                        file: file
                    }).success(function (data, status, headers, config) {
                        console.log(config);
                        alert("Thanks for the upload!\r\nFilename: " + config.file[0].name + "\r\nResponse: " + data);
                    }).error(function(error) {
                        alert("Ooops, something went wrong!");
                        console.log("Error!", error);
                    });
                }
            };

        }])
</script>


<form name="uploadForm">
    <fieldset>
        <legend>Upload file</legend>
        <div>
            <label>Username:</label>
            <input type="text" name="userName" ng-model="username" size="48" required="">
        </div>
        <div>
            <label>File:</label>
            <input type="file" ng-file-select="" ng-model="file" name="file" accept="image/*">
        </div>

        <button ng-click="upload(file)">Submit</button>
    </fieldset>
    <br>
</form>